NODE_ENV=development
PORT=3002
API_PREFIX=api
SWAGGER_PATH=docs
DATABASE_URL=postgres://postgres:postgres@localhost:5433/flowdex
INTERNAL_AUTH_JWT_SECRET=flowdex-local-internal-auth-jwt-secret-2026
INTERNAL_AUTH_ISSUER=fe-bff
INTERNAL_AUTH_AUDIENCE=be-api
TREASURY_ADDRESS_ETH_SEPOLIA=0x0000000000000000000000000000000000000001
TREASURY_ADDRESS_BASE_SEPOLIA=0x0000000000000000000000000000000000000002
ALCHEMY_API_KEY=
ALCHEMY_NOTIFY_AUTH_TOKEN=
ALCHEMY_WEBHOOK_SIGNING_KEY=
