NODE_ENV=development
PORT=3002
API_PREFIX=api
SWAGGER_PATH=docs
DATABASE_URL=postgres://postgres:postgres@localhost:5433/flowdex
REDIS_URL=redis://localhost:6379
ETH_RPC_URL=https://cloudflare-eth.com
TRON_FULL_HOST=https://api.trongrid.io
ASSET_PRICE_MAX_AGE_SECONDS=300
INTERNAL_AUTH_JWT_SECRET=flowdex-local-internal-auth-jwt-secret-2026
INTERNAL_AUTH_ISSUER=fe-bff
INTERNAL_AUTH_AUDIENCE=be-api
PRESALE_DISPLAY_MULTIPLIER=10
